        *, 
        html, 
        body{

                padding: 0;
                margin:  0:
                overflow-x: hoiddem;
        }
        :root {
                --main-bg: #eaeaea;
                --bg-secondary: #white;

        }
        .container{
                width: 100%;
                height: auto;
                min-height: 100vh;
                background-color: var(--main-bg);
                background-image: url(gambar1.jpg);
                opacity: .6;
                z-index: -99;
                position: absolute;
                insert: 0 0 0 0;

        }
        .text-center{
                text-align: center;
                font-family: sans-serif;
                border: 2px solid #999;
        }
        .deskripsi{
                font-family: cursive;
        }
        .wraper{
                display: flex; 
                flex-wrap: wrap; 
                justify-content: center;
                width: 100%;
                height: auto;
                color: white;
                

                

        }
        .card{
                z-index: 999;
                width: 40%;
                flex-direction: row;
                border: 1px solid white;
                background-color: white;
                color: #222;
                padding: 32px;
                margin: 8px;
                box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
                border-radius: 8px;
        }
        a{
            background-color: #222;
            border-radius: 30px;
            border-color: white;
            margin: 5px;
            padding: 10px;
            color: white !important;
            font-family: sans-serif;
            text-decoration: none;
        }
        a:hover{
                background-color: #eaeaea !important;
        }

  @media screen and (max-width: 476px){
       .card{
        width: 95%;
       }
  }
  

